# Артефакты Python
*.pyc
*.pyo
*.pyd
__pycache__/
__init__.py

# Виртуальное окружение
.venv/
.env/

# Артефакты тестирования
.coverage
.cache

# Конфигурации IDE/редакторов
.vscode/
.idea/

# Логи и временные файлы
*.log
*.tmp

source/catboost_info/
source/__pycache__
data/instructions/
data/train_data/
data/train_target.csv
logs/
venv_diploma/
